[Unit]
Description=VSM Storage Agent Service works on Ceph Storage System
After=network-online.target
Wants=network-online.target

After=network-online.target local-fs.target
Wants=network-online.target local-fs.target
PartOf=vsm.target

[Service]
EnvironmentFile=-/etc/sysconfig/vsm
ExecStart=/usr/bin/vsm-agent --config-file /etc/vsm/vsm.conf --logfile /var/log/vsm/vsm-agent.log

[Install]
WantedBy=vsm.target
