#!/usr/bin/make -f

build:
	python setup.py build

binary: clean build install
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums

	sed -i 's,Version: 2015.03-1,Version: 2015.03-1.2,g' debian/vsm-dashboard/DEBIAN/control
	rm -rf debian/vsm-dashboard/DEBIAN/conffiles

	dh_builddeb

binary-indep: binary

binary-arch: binary

clean:
	rm -rf build
	dh_auto_clean
	rm -rf ./debian/vsm-dashboard

install:
	./install-vsm-dashboard.sh

.PHONY: build clean binary-indep binary-arch binary install