#framework
{
    text-align: left;
    margin-left:5px;
}


#divMain{
    text-align: left;
    width: 960px;
    height: auto;
}

/**
 * vsm module
 */
#tVSMStatus>tbody>tr>td{
    width:250px;
    padding: 5px;
    /*border: 1px solid #ccc;*/
}

/**
 * cluster module
 */
#btnClusterTip {
    margin-bottom: 10px;
    margin-left: 20px;
}


#divClusterNote{
    margin:10px;
    width: 70%;
    height: auto;
    float: left;
}

#divClusterContent{
    min-height: 150px;
    margin-left: 0px;
}


#divClusterGauge{
    margin-top:20px;
    width: 25%;
    height: 200px;
    float:left;
}


/**
 * OSD module
 */
#tOSD>tbody>tr>td{
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/**
 * MDS module
 */
#divMDSRect{
    margin-top:10px;
    height:180px;
    overflow-y:auto;
    /*border:1px solid green;*/
}
 
#tMDS>tbody>tr>td{
    height: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /*border:1px solid #ccc;*/
}

.mds-svg{
    width: 90px;
    height: 55px;
}

.mds-block{
    width: 75px;
    height: 75px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-top: 1px;
    font-size: 20px;
    color:white;
}

.mds-block-green{
    background-color: green;
}

.mds-block-blue{
    background-color: blue;
}


.mds-block-orange{
    background-color: orange;
}

.mds-block-red{
    background-color: red;
}

.mds-block-number{
    width: 75px;
    height: 35px;
    line-height: 35px;
    display:  block;
    border-bottom: 1px solid #ccc;
}

.mds-block-status{
    width: 75px;
    height: 40px;
    line-height: 40px;
    display:  block;
}

/**
 * storage module
 */
#tStorage{
    margin-top: 15px;
}

#trStorageTitle>td{
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /*border: 1px solid #ccc;*/
}

#trStorageCircle>td{
    width: 200px;
    height: 150px;
    text-align: center;
    /*border: 1px solid #ccc;*/
}

#trStorageCircle>td>svg {
    width: 120px;
}


#trMDSCircle>td>svg {
    width: 160px;
    height: 70px;
}

#divMonitorRect{
    margin-top:40px;
    height:160px;
    overflow-y:auto;
}



#divPGRect{
    width:100%;
    height:180px;
}

#divMonitorOSDMDS{
    overflow:hidden;
}

#divStoragePool{
    overflow:hidden;
}



