[Unit]
Description=VSM Storage API Service works provide apis to Ceph and Cluster operations
After=network-online.target
Wants=network-online.target

After=network-online.target local-fs.target
Wants=network-online.target local-fs.target
PartOf=vsm.target

[Service]
EnvironmentFile=-/etc/sysconfig/vsm
ExecStart=/usr/bin/vsm-api --config-file /etc/vsm/vsm.conf --logfile /var/log/vsm/vsm-api.log

[Install]
WantedBy=vsm.target
